.App {
  text-align: center;
  height:100vh;
  background-color: blue;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s
}

.container{
  width:100%;
  background:white;
  display:flex;
  flex-direction: column;
  padding:40px 50px;
  /*font-weight:700;*/
  font-size: 1.75em;
  border-radius: 5px;
;}

.quoteContainer{
  display: flex;
  flex-direction: column;
}

.author{
  margin-top: 25px;
  align-self: flex-end;
  font-size: 0.8em;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.buttonContainer a{
  text-decoration: none;
  color:white;
}

.buttonContainer a:visited{
  color:white;
}

.buttonContainer div{
  border-radius: 5px;
  cursor: pointer;
  color: white;
  padding:8px 16px;
  font-size:16px;
}

@media screen and (min-width: 500px){


  .container{
    width:450px;
  }

}


